In [3]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('india_main.csv')

In [14]:
df.drop(columns=['District name', 'District code', 'State name'], inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          517 non-null    object
 1   District                       517 non-null    object
 2   Latitude                       517 non-null    float64
 3   Longitude                      517 non-null    float64
 4   Male                           517 non-null    int64
 5   Female                         517 non-null    int64
 6   Population                     517 non-null    int64
 7   Literate                       517 non-null    int64
 8   Male_Literate                  517 non-null    int64
 9   Female_Literate                517 non-null    int64
 10  Workers                        517 non-null    int64
 11  Agricultural_Workers           517 non-null    int64
 12  Household_Workers              517 non-null    int64
 13  Hindus                         517 non-null    int64
 14  Muslims                        517 non-null    int64
 15  Christians                     517 non-null    int64
 16  Sikhs                          517 non-null    int64
 17  Buddhists                      517 non-null    int64
 18  Jains                          517 non-null    int64
 19  Literate_Education             517 non-null    int64
 20  Illiterate_Education           517 non-null    int64
 21  Age_Group_0_29                 517 non-null    int64
 22  Age_Group_30_49                517 non-null    int64
 23  Age_Group_50                   517 non-null    int64
 24  No. of females per 1000 males  517 non-null    float64
 25  Literacy_ratio                 517 non-null    float64
dtypes: float64(4), int64(20), object(2)
memory usage: 105.1+ KB

In [26]:
px.scatter_mapbox(df, lat='Latitude', lon='Longitude', zoom=4,
                                size='Workers', color='Worker', size_max=35, hover_name='District',
                                mapbox_style='carto-positron', width=1200, height=700, color_continuous_scale='Rainbow')

NameError: name 'primary' is not defined